@media screen and ( max-width: 1200px )
  html
    font-size: 10px
  .nav
    &__link
      margin-right: 1rem
  .contacts
    &__button
      margin: 0
@media screen and ( max-width: 992px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .design
    background-color: $dark
    &__section-title
      color: $light
    &__card
      margin-bottom: 5.7rem
  .card
    &__text
      margin-left: 0
    &__pricetag
      left: 0
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .swiper
    &-slide
      &-image
        margin-top: 0
  .mobile-order-top
    order: -1
  .col-50
    width: 100%
  .control
    background-color: $dark
    &__form
      display: flex
      flex-direction: column
    &__input-group
      margin-bottom: 5.14rem
    &__text
      color: $light
    &__label
      color: rgba($light, 0.8)
    &__policy__label
      justify-content: flex-start

@media screen and ( max-width: 570px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title 
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 24.14rem
    &__text
      font-size: 1.28rem
    &__button
      display: block
      min-width: 24.14rem
      margin-bottom: 1.85rem
    .section
      &-title
      &__decription
        max-width: 21.86rem
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 4,29rem
  .card
    &__text
      margin-left: 0
  .footer
    background: $dark
    &__wrap
      background-color: $dark
    &__menu
      display: none
    &__form
      padding: 0
      flex-direction: column
@media screen and ( max-height: 530px )
  .hero
    &__scroll-down
      display: none

  

