.footer
  &-wrap
    background-color: $black
    max-width: 63.07rem
    margin: auto
    margin-top: -20rem
    padding: 2.5rem
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    margin-top: 0
    font-size: 1.43rem
    text-align: center
    font-style: normal
    font-weight: normal
    margin-bottom: 3.21rem
  &__form
    display: flex
    flex-wrap: wrap
    padding: 0 12.85rem
  &__input-group
    display: flex
    flex-direction: column
    flex-basis: 50%
    margin-bottom: 3.42rem
    &:last-of-type
      margin-bottom: 3rem
    &--full-width
      flex-basis: 100%
  &__policy
    flex-basis: 100%
    font-size: 1.14rem
  &__button
    margin: auto
    margin-top: 3.57rem
    padding: 1.42rem 3.85rem